@import "/src/sass/index";

.scaleWrapper {
  transform-origin: top left;
}

.root {
  position: relative;
  min-width: $cardWidth;
  height: $cardHeight;
  overflow: hidden;
}

.backgroundImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionBlock {
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.descriptionIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.descriptionText {
  position: absolute;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Exo 2", sans-serif;
}

.iconBlock {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
}
.icon {
  width: 80%;
}

.valueWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.valueBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
  background: black;
  margin: 2px;
  margin-top: 0;
}
.valueHeader {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  background: black;
  height: 12px;
  width: calc(100% - 4px);
  margin-bottom: -0.5px;
  margin-left: 2px;
}
.valueIcon {
  width: 50%;
}
.value {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
.valueLine {
  height: 1px;
  width: 100%;
  background: white;
  margin: 2px 0;
}
