@import "/src/sass/index";

.root {
  display: flex;
  justify-content: center;

  max-width: 100vw;
  height: 100%;
  overflow: auto;

  & > * {
    margin: 0 2px;
  }
}

@keyframes slidein {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

.slide {
  animation: slidein 0.1s ease-in-out forwards;
}