@import "./variable";

.appWrapper {
  // background: url(./assets/background.png);
  background-size: contain;

  width: 100vw;

  & > * {
    margin: $marginTop 0;
  }
}

.stats {
}

.statsLine {
  height: 1px;
  background: black;
}
